@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* old*/ 
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --font-sans: "Roboto", sans-serif;
  }

  .dark {
    --background: 240 21% 15%;
    --foreground: 226 64% 88%;

    --muted: 223 47% 11%; /* old*/
    --muted-foreground: 215.4 16.3% 56.9%; /* old*/

    --popover: 224 71% 4%; /* old*/
    --popover-foreground: 215 20.2% 65.1%; /* old*/

    --card: 237 16% 23%;
    --card-foreground: 226 64% 88%;

    --border: 233 12% 39%;
    --input: 233 12% 39%;

    --primary: 226 64% 88%;
    --primary-foreground: 234 13% 31%;

    --secondary: 234 13% 29%;
    --secondary-foreground: 226 64% 88%;

    --accent: 234 13% 29%;
    --accent-foreground: 217 92% 78%;

    --destructive: 343 81% 75%;
    --destructive-foreground: 240 21% 15%;

    --ring: 216 34% 17%; /* old*/

    --radius: 0.5rem; /* old*/

    --font-sans: "Roboto", sans-serif;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
